.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.main-heading {
  margin-top: 50px;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
}

.left-arrow {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
}
.right-arrow {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-width: 0px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  width: 50%;
}

.profile-image {
  height: 100px;
  width: 100px;
}

.user-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  margin-top: 30px;
}

.company-name {
  color: #171f46;
  font-family: 'Roboto';
}

.description {
  color: #171f46;
  font-family: 'Roboto';
  text-align: center;
}
